@font-face {
  font-family: 'Clarkson';
  src: url(https://static1.squarespace.com/static/ta/5d5b097ace74150001a72708/253/assets/fonts/Clarkson-Light.woff2) format("woff2"), url(https://static1.squarespace.com/static/ta/5d5b097ace74150001a72708/253/assets/fonts/Clarkson-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Clarkson';
  src: url(https://static1.squarespace.com/static/ta/5d5b097ace74150001a72708/253/assets/fonts/Clarkson-Medium.woff2) format("woff2"), url(https://static1.squarespace.com/static/ta/5d5b097ace74150001a72708/253/assets/fonts/Clarkson-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Adieu';
  cursor: none;
  color: black;
}

a {
  text-decoration: none;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

::-moz-selection {
  background: black;
  color: white;
}

::selection {
  background: black;
  color: white;
}

#cursor {
  top: 50vh;
  left: 50vw;
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  height: 6px;
  width: 6px;
  background: none;
  -webkit-backdrop-filter: invert(1);
          backdrop-filter: invert(1);
  margin: -3px;
  -webkit-transition-duration: .075s;
          transition-duration: .075s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

#cursorRing {
  top: 50vh;
  left: 50vw;
  position: fixed;
  z-index: 999;
  pointer-events: none;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 80px;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin: -40px;
}

#cursorRing .out {
  position: absolute;
  height: 100%;
  width: 100%;
  background: none;
  -webkit-backdrop-filter: invert(1);
          backdrop-filter: invert(1);
  border-radius: 50%;
}

#cursorRing .in {
  position: absolute;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  background: none;
  -webkit-backdrop-filter: invert(1);
          backdrop-filter: invert(1);
  border-radius: 50%;
}

#header {
  width: 88vw;
  padding: 0 6vw;
  height: 80px;
  top: 0;
  left: 0;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 100;
  -webkit-transition-duration: .75s;
          transition-duration: .75s;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
          transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

#header #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 600;
  padding: 20px;
  margin: 0 -20px;
}

#header #logo img {
  height: 32px;
  padding-right: 10px;
}

#header .menu-icon {
  height: 24px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  margin: 0 -20px;
  z-index: 400;
}

#header .menu-icon div {
  width: 24px;
  height: 2px;
  -webkit-backdrop-filter: invert(1);
          backdrop-filter: invert(1);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

#header .menu-icon .a {
  margin-bottom: 5px;
}

#header #links {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
          transition-timing-function: cubic-bezier(0, 0, 0, 1);
  z-index: 200;
}

#header #links ul {
  padding-left: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#header #links ul:hover a {
  opacity: .4;
}

#header #links ul a {
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  color: white;
  font-size: 6vw;
}

#header #links ul a:hover {
  opacity: 1;
  padding-left: 70px;
}

#header #checkbox {
  position: absolute;
  top: -20px;
}

#header #checkbox:checked ~ #links {
  left: 0;
}

#header #checkbox:checked ~ .menu-icon div {
  position: absolute;
  width: 30px;
}

#header #checkbox:checked ~ .menu-icon .a {
  margin-bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#header #checkbox:checked ~ .menu-icon .b {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#content {
  width: 88vw;
  padding: 0 6vw;
}

#preload {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: white;
  z-index: 998;
  top: 0;
  left: 0;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}

#preload img {
  height: 120px;
}

.button {
  background: #000;
  color: white;
  padding: 30px 40px;
  text-decoration: none;
  font-size: 16px;
}

.footer {
  height: 100px;
  width: 88vw;
  padding: 0 6vw;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .left a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  padding-left: 40px;
}

.footer .right {
  color: white;
  font-size: 14px;
}
/*# sourceMappingURL=master.css.map */