@font-face{
    font-family:'Clarkson';
    src:url(https://static1.squarespace.com/static/ta/5d5b097ace74150001a72708/253/assets/fonts/Clarkson-Light.woff2) format("woff2"),url(https://static1.squarespace.com/static/ta/5d5b097ace74150001a72708/253/assets/fonts/Clarkson-Light.woff) format("woff");font-weight:300;font-style:normal;
}
@font-face{
    font-family:'Clarkson';
    src:url(https://static1.squarespace.com/static/ta/5d5b097ace74150001a72708/253/assets/fonts/Clarkson-Medium.woff2) format("woff2"),url(https://static1.squarespace.com/static/ta/5d5b097ace74150001a72708/253/assets/fonts/Clarkson-Medium.woff) format("woff");font-weight:500;font-style:normal;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Adieu';
    cursor: none;
    color: black;
}
a {
    text-decoration: none;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
::selection {
    background: black;
    color: white;
}
#cursor {
    top: 50vh;
    left: 50vw;
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    height: 6px;
    width: 6px;
    background: none;
    backdrop-filter: invert(1);
    margin: -3px;
    transition-duration: .075s;
    transition-timing-function: ease-out;
}
#cursorRing {
    top: 50vh;
    left: 50vw;
    position: fixed;
    z-index: 999;
    pointer-events: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    transition-duration: .15s;
    transition-timing-function: ease-out;
    margin: -40px;
    .out {
        position: absolute;
        height: 100%;
        width: 100%;
        background: none;
        backdrop-filter: invert(1);
        border-radius: 50%;
    }
    .in {
        position: absolute;
        height: calc(100% - 4px);
        width: calc(100% - 4px);
        background: none;
        backdrop-filter: invert(1);
        border-radius: 50%;
    }
}
#header {
    width: 88vw;
    padding: 0 6vw;
    height: 80px;
    top: 0;
    left: 0;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    transition-duration: .75s;
    transition-timing-function: cubic-bezier(0,0,0,1);
    #logo {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        padding: 20px;
        margin: 0 -20px;
        img {
            height: 32px;
            padding-right: 10px;
        }
    }
    .menu-icon {
        height: 24px;
        width: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin: 0 -20px;
        z-index: 400;
        div {
            width: 24px;
            height: 2px;
            backdrop-filter: invert(1);
            transition-duration: .3s;
            transition-timing-function: ease-out;
        }
        .a {
            margin-bottom: 5px;
        }
        .b {
        }
    }
    #links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%;
        background: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0,0,0,1);
        z-index: 200;
        ul {
            padding-left: 20vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            &:hover {
                a {
                    opacity: .4;
                }
            }
            a {
                transition-duration: .3s;
                color: white;
                font-size: 6vw;
                &:hover {
                    opacity: 1;
                    padding-left: 70px;
                }
            }
        }
    }
    #checkbox {
        position: absolute;
        top: -20px;
        &:checked ~ #links {
            left: 0;
        }
        &:checked ~ .menu-icon {
            div {
                position: absolute;
                width: 30px;
            }
            .a {
                margin-bottom: 0;
                transform: rotate(45deg);
            }
            .b {
                margin-top: 0;
                transform: rotate(-45deg);
            }
        }
    }
}
#content {
    width: 88vw;
    padding: 0 6vw;
}
#preload {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: white;
    z-index: 998;
    top: 0;
    left: 0;
    transition-duration: 1.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    img {
        height: 120px;
    }
}
.button {
    background: #000;
    color: white;
    padding: 30px 40px;
    text-decoration: none;
    font-size: 16px;
}
.footer {
    height: 100px;
    width: 88vw;
    padding: 0 6vw;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    .left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        a {
            font-size: 16px;
            text-decoration: none;
            color: white;
            padding-left: 40px;
        }
    }
    .right {
        color: white;
        font-size: 14px;
    }
}