.hero {
    height: calc(100vh - 8vw);
    background-image: url('../img/bmw-e30.jpg');
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    padding: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    h2 {
        font-size: 64px;
        line-height: 1.2;
        max-width: 900px;
        margin-bottom: 40px;
    }
}
section {
    padding: 4vw;
    box-sizing: border-box;
}