.hero, .mission, .models .cont .model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero h2 {
  font-size: 60px;
}

.hero {
  height: 100%;
  background-image: url("../img/bmw-e30.jpg");
  background-size: cover;
  background-position: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 60px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero h2 {
  line-height: 1.2;
  max-width: 900px;
  margin-bottom: 40px;
}

.mission {
  padding: 120px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #000;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mission p, .mission h2 {
  color: white;
}

.mission p {
  margin: 120px;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 60px;
          column-gap: 60px;
}

.mission a {
  margin-left: 120px;
}

.models {
  padding: 120px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.models h2 {
  margin-bottom: 120px;
}

.models .cont {
  width: 100%;
  display: -ms-grid;
  display: grid;
  row-gap: 60px;
  -webkit-column-gap: 60px;
          column-gap: 60px;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin-bottom: 60px;
}

.models .cont .model {
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.models .cont .model .img {
  width: 100%;
  padding-bottom: 65%;
  background-size: cover;
  background-position: center;
}

.models .cont .model .name {
  font-size: 24px;
  line-height: 1;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: black;
  color: white;
}

.models .cont .model:nth-child(1) .img {
  background-image: url("../img/Cars/BMW-E30.jpg");
}

.models .cont .model:nth-child(2) .img {
  background-image: url("../img/Cars/924.jpg");
}

.models .cont .model:nth-child(3) .img {
  background-image: url("../img/Cars/DMC-12.jpg");
}

.models .cont .model:nth-child(4) .img {
  background-image: url("../img/Cars/Datsun-240c.jpg");
}
/*# sourceMappingURL=styles.css.map */